<a href="https://colab.research.google.com/github/2239245168/Lab1_Yulin-Yang.ipynb/blob/main/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [ ]:

url = 'https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/superstore_retail_orders.csv?raw=true'
df = pd.read_csv(url)

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56043 entries, 0 to 56042
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          56043 non-null  int64
 1   order_date        56011 non-null  object
 2   order_year_month  56011 non-null  object
 3   customer_name     56043 non-null  object
 4   city              55569 non-null  object
 5   state_province    55569 non-null  object
 6   email             56043 non-null  object
 7   order_type        56043 non-null  object
 8   quantity          56004 non-null  float64
 9   product_name      56043 non-null  object
 10  product_line      56043 non-null  object
 11  product_price     56043 non-null  float64
 12  product_status    56043 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 5.6+ MB
None
   order_id  order_date order_year_month  customer_name               city  \
0     51188  2023-07-01          2023-07  Audrey Blanco  North Cherylmouth
1     51187  2023-07-01          2023-07    Isaac Allen         Traceyland
2     51199  2023-07-02          2023-07     Ian Morgan          Dylanberg
3     51241  2023-07-04          2023-07     Alexa Bell     Lake Tracytown
4     51297  2023-07-08          2023-07     Casey Diaz        Byrdchester

  state_province                    email order_type  quantity  \
0  New Hampshire  audrey_blanco@email.com     Retail       3.0
1  West Virginia    isaac_allen@email.com     Online       4.0
2   South Dakota     ian_morgan@email.com     Online       5.0
3      Wisconsin     alexa_bell@email.com     Online       1.0
4    Mississippi     casey_diaz@email.com     Online       1.0

                                        product_name product_line  \
0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
1  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
2  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
3  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
4  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile

   product_price product_status
0         649.99         Active
1         649.99         Active
2         649.99         Active
3         649.99         Active
4         649.99         Active

## Prepare Data

➡️ Assignment Tasks
- Create a "revenue" variable and make sure it is a numeric datatype
- Remove rows with empty (NULL) values
- Locate outliers in at least two of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [ ]:
df['revenue'] = df['quantity'] * df['product_price']

In [ ]:
df = df.dropna()

In [ ]:
df = df[df['quantity'] > 0]

df = df[(df['product_price'] > 0) & (df['product_price'] < 1000)]

## Summarize Data

➡️ Assignment Tasks
- Display the average price per product line
- Display the total revenue for all months

In [ ]:
average_price_per_line = df.groupby('product_line')['product_price'].mean()

print(average_price_per_line)

product_line
Accessories        11.531647
Bikes             541.832105
Cameras           733.843016
Clothing           51.257239
Electronics       693.973186
Mobile            649.990000
OfficeProducts      8.640000
Name: product_price, dtype: float64

In [ ]:
total_revenue = df['revenue'].sum()

print(f'Total Revenue: ${total_revenue}')

Total Revenue: $18415010.21